n8n-workflow-product-order.json
{
  "name": "商品搜索与订单创建演示",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "手动触发",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:19001/api/products",
        "options": {
          "qs": {
            "keyword": "iPhone"
          }
        }
      },
      "id": "search-products",
      "name": "搜索商品",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "options": {}
      },
      "id": "select-product",
      "name": "选择商品",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [680, 300],
      "notesInFlow": true,
      "notes": "选择第一个商品，设置订单参数"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:19001/api/order/create",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"product_id\": {{ $json.product_id }},\n  \"quantity\": {{ $json.quantity }},\n  \"address\": \"{{ $json.address }}\"\n}",
        "options": {}
      },
      "id": "create-order",
      "name": "创建订单",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300],
      "notesInFlow": true,
      "notes": "调用订单创建API"
    }
  ],
  "connections": {
    "手动触发": {
      "main": [
        [
          {
            "node": "搜索商品",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "搜索商品": {
      "main": [
        [
          {
            "node": "选择商品",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "选择商品": {
      "main": [
        [
          {
            "node": "创建订单",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-14T14:20:00.000Z",
  "versionId": "1"
}
