n8n-workflow-mcp-demo.json
{
  "name": "MCP 集成演示 - 商品搜索与订单创建",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "手动触发",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:19003/tools/search_products_api_products_get",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"keyword\": \"iPhone\"}"
      },
      "id": "search-products",
      "name": "搜索商品 (MCP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false
      },
      "id": "extract-product",
      "name": "提取商品信息",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:19003/tools/create_order_api_order_create_post",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"product_id\": {{ $json.result.items[0].id }}, \"quantity\": 2, \"address\": \"北京市朝阳区\"}"
      },
      "id": "create-order",
      "name": "创建订单 (MCP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "手动触发": {
      "main": [[{"node": "搜索商品 (MCP)", "type": "main", "index": 0}]]
    },
    "搜索商品 (MCP)": {
      "main": [[{"node": "提取商品信息", "type": "main", "index": 0}]]
    },
    "提取商品信息": {
      "main": [[{"node": "创建订单 (MCP)", "type": "main", "index": 0}]]
    }
  }
}
